.layout-tabmenu-content {
    .inbox-tab {        
        ul {
            padding: 0 6px;
            margin: 0;
            list-style-type: none;
            
            li {
                padding: 6px 0;
                
                img {
                    float: left;
                    margin-right: 8px;
                }
                
                .name {
                    font-weight: bold;
                    float: left;
                }
                .message {
                    float: left;
                }
            }
        }
        
        .inbox-labels {
            margin: 20px 6px 0 6px;
            
            > span {
                font-weight: bold;
            }
            
            ul {
                margin-top: 10px;
                
                li {
                    padding: 6px;
                    
                    .inbox-label-badge {
                        background-color: $primaryColor;
                        color: #ffffff;
                        padding: 2px 6px;
                        @include border-radius(3px);
                        float: right;
                    }
                }
                
                
            }
        }
    }
    
    .calendar-tab {
        ul {
            padding: 0 6px;
            margin: 0;
            list-style-type: none;
            
            li {
                padding: 6px 0;
                
                .calendar-event-date {
                    float: left;
                    background-color: $primaryColor;
                    color: #ffffff;
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    padding: 6px 0 0 0;
                    font-size: 14px;
                    font-weight: 700;
                    box-sizing: border-box;
                    margin-right: 8px;
                    
                    span {
                        width: 100%;
                        display: inline-block;
                    }    
                }
                
                .calendar-event-detail {
                    float: left;
                    
                    .calendar-event-title {
                        font-weight: 700;
                        display: block;
                    }
                    
                    i {
                        margin-right: 4px;
                    }
                    
                    .calendar-event-location {
                        margin-right: 4px;
                    }
                    
                    .calendar-event-rsvp {
                        display: block;
                        
                        &.calendar-event-rsvp-yes {
                            color: #35ae47;
                        }
                        
                        &.calendar-event-rsvp-maybe {
                            color: #f5a623;
                        }
                    }
                }
            }
        }
    }
    
    .projects-tab {
        ul {
            padding: 0 6px;
            margin: 0;
            list-style-type: none;
            
            li {
                padding: 12px 0;
                
                i {
                    font-size: 36px;
                    margin-right: 8px;
                    float: left;
                    width: 32px;
                }
                
                .project-title {
                    font-weight: 700;
                }
                
                span {
                    float: left;
                    display: block;
                }
                
                .project-progressbar {
                    width: 100px;
                    float: left;
                    background-color: #545b61;
                    margin-top: 4px;
                    
                    .project-progressbar-value {
                        background-color: #8be298;
                        height: 4px;
                    }
                }
            }
        }
    }
    
    .team-tab {
        ul {
            padding: 0 6px;
            margin: 0;
            list-style-type: none;
            
            li {
                padding: 6px 0;
                
                img {
                    float: left;
                    margin-right: 8px;
                }
                
                .name {
                    font-weight: bold;
                    float: left;
                }
                .location {
                    float: left;
                }
                
                span {
                    display: block;
                }
            }
        }
    }
}

.layout-sidebar-dark {
    .layout-tabmenu-content {
        color: $darkMenuItemTextColor;
    }
}