/* open-sans-300 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-300.eot']}"); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-300.eot']}?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-300.woff2']}") format('woff2'), /* Super Modern Browsers */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-300.woff']}") format('woff'), /* Modern Browsers */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-300.ttf']}") format('truetype'), /* Safari, Android, iOS */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-300.svg']}#OpenSans") format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-regular.eot']}"); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-regular.eot']}?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-regular.woff2']}") format('woff2'), /* Super Modern Browsers */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-regular.woff']}") format('woff'), /* Modern Browsers */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-regular.ttf']}") format('truetype'), /* Safari, Android, iOS */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-regular.svg']}#OpenSans") format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-700.eot']}"); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-700.eot']}?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-700.woff2']}") format('woff2'), /* Super Modern Browsers */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-700.woff']}") format('woff'), /* Modern Browsers */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-700.ttf']}") format('truetype'), /* Safari, Android, iOS */
       url("\#{resource['atlantis-layout:fonts/open-sans-v13-latin_latin-ext-700.svg']}OpenSans") format('svg'); /* Legacy iOS */
}