<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">#{m.acceptDriver}</ui:define>
    <f:metadata>
        <f:viewParam name="objectId" value="#{userBean.objectId}"/>
        <f:viewAction action="#{userBean.init}"/>
    </f:metadata>
    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6" style="margin: 0 auto;">
                <h:form id="formBreadCrumb">
                    <p:breadCrumb>
                        <p:menuitem value="home" url="/pages/driver/pending.xhtml"/>
                        <p:menuitem value="#{m.drivers}" url="/pages/driver/pending.xhtml"/>
                        <p:menuitem value="#{m.acceptDriver}" url="/pages/driver/accept.xhtml"
                                    styleClass="breadcrumb-active"/>
                    </p:breadCrumb>
                </h:form>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6" style="margin: 0 auto;">
                <h:form>
                    <p:tabMenu activeIndex="#{param.i}">
                        <p:menuitem value="#{m.pendingDrivers}" outcome="/pages/driver/pending" icon="fa fa-fw fa-cog">
                            <f:param name="i" value="0" />
                        </p:menuitem>
                        <p:menuitem value="#{m.drivers}" outcome="/pages/driver/drivers" icon="fa fa-fw fa-user">
                            <f:param name="i" value="1" />
                        </p:menuitem>
                    </p:tabMenu>
                </h:form>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-10" style="margin: 0 auto;">
                <div class="card">
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>

                    <div class="ui-breadcrumb ui-module ui-widget ui-widget-header ui-helper-clearfix ui-corner-all">
                        <h:form>
                        <h:panelGrid columns="2" cellpadding = "5" cellspacing = "1">

                            <h:outputLabel>ID:</h:outputLabel>
                            <h:outputText value="#{userBean.user.objectId}"/>

                            <h:outputLabel>Level:</h:outputLabel>
                            <h:outputText value="#{userBean.user.level}"/>

                            <h:outputLabel>Name:</h:outputLabel>
                            <h:outputText value="#{userBean.user.name}"/>

                            <h:outputLabel>E-mail:</h:outputLabel>
                            <h:outputText value="#{userBean.user.email}"/>

                            <h:outputLabel>E-mail Verified:</h:outputLabel>
                            <h:outputText value="#{userBean.user.emailVerify}"/>

                            <h:outputLabel>Phone:</h:outputLabel>
                            <h:outputText value="#{userBean.user.phone}"/>

                            <h:outputLabel>Company:</h:outputLabel>
                            <h:outputText value=""/>

                            <h:outputLabel>Company Address:</h:outputLabel>
                            <h:outputText value=""/>

                        </h:panelGrid>
                        <p:commandButton value="Accept this driver"
                                         action="#{userBean.accept}">
                        </p:commandButton>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

