<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">#{m.drivers}</ui:define>
    <f:metadata>
        <f:viewAction action="#{driverListBean.effectiveDrivers}"/>
    </f:metadata>
    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6" style="margin: 0 auto;">
                <h:form id="formBreadCrumb">
                    <p:breadCrumb>
                        <p:menuitem value="home" url="/pages/driver/pending.xhtml"/>
                        <p:menuitem value="#{m.drivers}" url="/pages/driver/pending.xhtml"
                                    styleClass="breadcrumb-active"/>
                    </p:breadCrumb>
                </h:form>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-6" style="margin: 0 auto;">
                <h:form>
                    <p:tabMenu activeIndex="#{param.i}">
                        <p:menuitem value="#{m.pendingDrivers}" outcome="/pages/driver/pending" icon="fa fa-fw fa-cog">
                            <f:param name="i" value="0" />
                        </p:menuitem>
                        <p:menuitem value="#{m.drivers}" outcome="/pages/driver/drivers" icon="fa fa-fw fa-user">
                            <f:param name="i" value="1" />
                        </p:menuitem>
                    </p:tabMenu>
                </h:form>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-10" style="margin: 0 auto;">
                <div class="card">
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>

                    <p:dataTable id="dataTable" value="#{driverListBean.effectDriverList}"
                                 rows="15"
                                 paginator="true"
                                 resizableColumns="true"
                                 reflow="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,15,20,30"
                                 var="driver"
                                 paginatorPosition="bottom"
                                 tableStyle="text-align: center; table-layout: auto">
                        <f:facet name="header">
                            <h:outputText value="#{m.drivers}"/>
                        </f:facet>

                        <p:column headerText="ID" sortBy="#{driver.objectId}"
                                  filterBy="#{driver.objectId}"  filterMatchMode="contains">
                            <h:outputText value="#{driver.objectId}"/>
                        </p:column>

                        <p:column headerText="#{m.name}" sortBy="#{driver.name}"
                                  filterBy="#{driver.name}"  filterMatchMode="contains">
                            <h:outputText value="#{driver.name}"/>
                        </p:column>

                        <p:column headerText="#{m.phone}" sortBy="#{driver.phone}"
                                  filterBy="#{driver.phone}"  filterMatchMode="contains">
                            <h:outputText value="#{driver.phone}"/>
                        </p:column>

                        <p:column headerText="Email" sortBy="#{driver.email}"
                                  filterBy="#{driver.email}"  filterMatchMode="contains">
                            <h:outputText value="#{driver.email}"/>
                        </p:column>

                        <p:column headerText="Edit">
                            <h:outputLink value="edit.xhtml">
                                <f:param name="objectId" value="#{driver.objectId}"/>
                                <i class="fa fa-pencil"/>
                            </h:outputLink>
                        </p:column>


                    </p:dataTable>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

