<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    
    <div class="footer clearfix">
        <p:graphicImage name="images/logo-white.png" library="atlantis-layout" />
        <span>Truck Your Way</span>
        <!--<a href="https://github.com/primefaces"><i class="fa fa-github"></i></a>-->
        <a href="https://www.facebook.com/groups/primefaces"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/primefaces"><i class="fa fa-twitter"></i></a>
    </div>
</ui:composition>