<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pa="http://primefaces.org/atlantis">

    <div class="layout-sidebar layout-sidebar-dark">
        <pa:tabMenu>
            <pa:tab icon="fa fa-cube" title="Features">
                <h:form id="menu-form">
                    <pa:menu widgetVar="me">
                        <p:menuitem id="driver" value="Drivers" icon="fa fa-fw fa-home" outcome="/pages/driver/pending.xhtml"/>
                    </pa:menu>
                </h:form>
            </pa:tab>
        </pa:tabMenu>
    </div>

</ui:composition>