<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#5ea980" />
        </f:facet>
        <title><ui:insert name="title">Truck Your Way</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="atlantis-layout" />
        <h:outputScript name="js/layout.js" library="atlantis-layout" />
        <h:outputScript name="js/locale.js" library="atlantis-layout" />
        <!--<script type="text/javascript">var disabledDays = eval(#{agendaDiariaRegisBean.datasRestritas});</script>-->
        <!--<h:outputScript name="js/disabledays.js" library="atlantis-layout" />-->
        <!--<h:outputScript>-->
            <!--//<![CDATA[-->
            <!--var specialDays = #{agendaDiariaRegisBean.datasRestritas};-->

            <!--function disableAllTheseDays(date) {-->
                <!--for (var i = 0; i < specialDays.length; i++) {-->
                    <!--var sDate = new Date(specialDays[i]);-->

                    <!--var compare1 = new Date(date.getFullYear(), date.getMonth(), date.getDate());-->
                    <!--var compare2 = new Date(sDate.getFullYear(), sDate.getMonth(), sDate.getDate());-->

                    <!--if (compare1.getTime() === compare2.getTime()) {-->
                        <!--return [false, ''];-->
                    <!--}-->
                <!--}-->

                <!--return [true, ''];-->
            <!--};-->

            <!--//  ]]>-->

        <!--</h:outputScript>-->
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body">
        <div class="layout-wrapper layout-overlay-menu">
            <ui:include src="topbar.xhtml" />
            <ui:include src="menu.xhtml" />
            
            <div class="layout-main">
                <div class="layout-main-content">
                    <ui:insert name="content"/>
                </div>

                <ui:include src="footer.xhtml" />
            </div>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"/>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>

        <h:outputStylesheet name="css/nanoscroller.css" library="atlantis-layout" />
        <h:outputStylesheet name="css/animate.css" library="atlantis-layout" />
        <h:outputStylesheet name="css/layout-green.css" library="atlantis-layout" />

    </h:body>

</html>