<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <div class="topbar">
        <div class="logo">
            <p:graphicImage name="images/logo.png" library="atlantis-layout" />
        </div>
        
        <p:graphicImage name="images/logo.png" library="atlantis-layout" styleClass="app-name"/>
        
        <a id="topbar-menu-button" href="#">
            <i class="fa fa-bars"/>
        </a>
        
        <ul class="topbar-menu fadeInDown animated">
            <li class="profile-item">
                <a href="#">                            
                    <div class="profile-image">
                        <p:graphicImage name="images/profile-image.png" library="atlantis-layout" />
                    </div>
                    <div class="profile-info">
                        <span class="topbar-item-name profile-name">Socrates Moura</span>
                        <span class="topbar-item-name profile-role">System Admin</span>
                    </div>
                </a>
                
                <ul class="animated">
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-user"/>
                            <span>Profile</span>
                            <span class="topbar-submenuitem-badge">5</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-user-secret"/>
                            <span>Privacy</span>
                            <span class="topbar-submenuitem-badge">2</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-cog"/>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <h:form>
                            <h:commandLink action="#{loginBean.logout}">
                                <i class="fa fa-fw fa-sign-out"/>
                                <span>Logout</span>
                            </h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon fa fa-fw fa-cog"/>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul class="animated">
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-paint-brush"/>
                            <span>Change Theme</span>
                            <span class="topbar-submenuitem-badge">4</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-star-o"/>
                            <span>Favorites</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-lock"/>
                            <span>Lock Screen</span>
                            <span class="topbar-submenuitem-badge">2</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-picture-o"/>
                            <span>Wallpaper</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon material-icons animated swing fa fa-fw fa-envelope-o"/>
                    <span class="topbar-badge animated rubberBand">5</span>
                    <span class="topbar-item-name">Messages</span>
                </a>
                <ul class="animated">
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage name="images/avatar1.png" library="atlantis-layout" width="35"/>
                            <span>Give me a call</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage name="images/avatar2.png" library="atlantis-layout" width="35"/>
                            <span>Reports attached</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage name="images/avatar3.png" library="atlantis-layout" width="35"/>
                            <span>About your invoice</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage name="images/avatar2.png" library="atlantis-layout" width="35"/>
                            <span>Meeting today</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <p:graphicImage name="images/avatar4.png" library="atlantis-layout" width="35"/>
                            <span>Out of office</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon fa fa-fw fa-bell-o"/>
                    <span class="topbar-badge animated rubberBand">4</span>
                    <span class="topbar-item-name">Notifications</span>
                </a>
                <ul class="animated">
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-tasks"/>
                            <span>Pending tasks</span>
                            <span class="topbar-submenuitem-badge">6</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-calendar-check-o"/>
                            <span>Meeting today</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-download"/>
                            <span>Download</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-plane"/>
                            <span>Book flight</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="search-item">
                <h:form>
                    <i class="fa fa-search"/>
                    <p:inputText />
                </h:form>
            </li>
        </ul>

    </div>

</ui:composition>